<%= form_for(@document_group) do |f| %>
  <% if @document_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document_group.errors.count, "error") %> prohibited this document_group from being saved:</h2>

      <ul>
      <% @document_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
