<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document_group.name %>
</p>

<%= link_to 'Edit', edit_document_group_path(@document_group) %> |
<%= link_to 'Back', document_groups_path %>
