<div id="document-groups-tree">
  <% @document_groups.each do |document_group| %>
      <% cache([document_group, document_group.documents, document_group.readers]) do %>
          <h1>
            <%= document_group.name %>
          </h1>
          <%= render document_group.documents %>
      <% end %>
  <% end %>  
</div>

