<p id="notice"><%= notice %></p>

<p>
  <strong>Checksum very difficult to calculate:</strong>
  <% cache(@document) do %>
    <%= @document.checksum %>
  <% end %>
</p>

<p>
  <strong>Cache key:</strong>
  <%= @document.cache_key %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
