<%= link_to 'Documents', documents_path, class: 'navbar-brand' %>
<%= link_to 'Document Groups', document_groups_path, class: 'navbar-brand' %>
<%= link_to 'Document Groups Tree', tree_document_groups_path, class: 'navbar-brand' %>
<%= link_to 'Readers', readers_path, class: 'navbar-brand' %>
